body {
  /* padding-left: 2%; */
  padding: 4%;
  background-color: gray; /* #3d3d3d;*/
  color: white;
  font-family: Open Sans;
  text-align: center;
}

#loginContainer
{
  border: none;
}

.loginLogo
{
  font-size: 44px;
  color: white;
}


#userNameIcon
{
  font-size:33px;
  color: blue;
  /* padding-top:2%; */
}

#passwordIcon
{
  font-size:33px;
  color: blue;
  /* padding-top:2%; */
}


/*** Hide input border ***/
.textbox input 
{
  border: none;
  outline: none;
  background: lightgray;
  color: black;
  font-size: 20px;
  /* float: left; */
   margin: 5px; 
  padding: 2%;
  width: 80%;
}


/** test color **/
.textbox input[type="text"], input[type="password"] 
{
  color: navy;  /* #fff; white */
}


.boton 
{
  padding: 2%;
  /* margin-top: 10px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /*cursor: pointer;*/
  width: 80%;
  /** background: none; **/
  /*** background-color: #f9db4e; **/
  /** border: none;**/
  /* border-radius: 15px; */
  /* color: white; */
  font-size: 20px;
}